# Variáveis de Ambiente
PORT=5000
MONGODB_URI=mongodb://localhost:27017/tvelos
JWT_SECRET=sua_chave_secreta_aqui_mude_isto_em_producao

# Ou para MongoDB Atlas (nuvem)
# MONGODB_URI=mongodb+srv://usuario:senha@cluster0.mongodb.net/tvelos
